@use 'scss/config' as *;

.button {
  @include make-spacer(p, 10px);

  display: inline-flex;
  position: relative;
  border-radius: rem(6px);
  overflow: hidden;
  color: var(--color-white);

  &__text {
    position: relative;
    font-size: rem(14px);
    letter-spacing: var(--border-radius);
    text-align: center;
  }

  &--accent {
    background-color: var(--color-accent);
  }

  &--secondary {
    background-color: var(--color-secondary);
  }
}
